body{
    margin: 20;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img{
    width: 150px;
}

.card{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid purple;
}

.border-blue{
    border: 1px dotted blue ;
}